name: CI Pipeline

on:
    pull_request:
        branches: [main]
    push:
        branches: [main]

jobs:
    build:
        name: Build project
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'npm'
                
            - name: Install dependencies
              run: npm ci
            - name: Run project build
              run: npm run build
    test:
        name: Run tests
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'npm'
                
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm test
    
    lint:
        name: Run linter
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'npm'
                
            - name: Install dependencies
              run: npm ci
            - name: Run linter
              run: npm run lint